<!-- Reset password page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>NEWSY</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="shortcut icon" href="/img/logo.jpg" />
    <script type="text/javascript">
        var validateForm = $('form').serializeArray();

        function get() {
            $.post('jqtest/test', {
                    name: $('form[name="sign_up"] input[password="password"] input[email="email"]').val()
                },
                function(output) {
                    $('#errors').html(output).show();
                }
            );
        }
    </script>

</head>

<body>
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://i.ibb.co/k34r7DG/Newspaper-PNG-File.png" alt="" />
                <h3>Welcome</h3>
                <p>Register or Login to Newsy</p>

                <a href="login" class="btn btn-xs btn-primary"> Login </a>
                <a href="register" class="btn btn-xs btn-primary"> Register </a>
            </div>
            <div class="col-md-9 register-right">

                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">Reset Password</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Reset password form -->
                                <form method="POST" role="form" class="form-horizontal" oninput='password.setCustomValidity(password.value != confirm_password.value ? "Passwords do not match." : "")'>
                                    <input type="email" class="form-control" placeholder="Email *" value="" name="email" />
                                    <input type="password" class="form-control" placeholder="New Password *" value="" name="password" />
                                    <input type="password" class="form-control" placeholder="Confirm New Password *" value="" name="confirm_password" />
                                    <!-- <input type="submit" class="btnRegister" value="Reset password" /> -->

                                    <input type="submit" class="btnRegister" value="Reset password" />
                                    <ul id="errors"></ul>
                                </form>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</body>

</html>